@import "tailwindcss";

@theme {
  --font-sans: "league Spartan", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-button: #d1a221;
}

html,
body {
  @apply bg-white;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
h1 {
  @apply text-black;
}
